<script>
    import { onMount } from "svelte";

    let stuff;

    onMount(async () => {
        await fetch(`http://localhost:5000/api/test`)
            .then(r => r.json())
            .then(data => {
                stuff = data;
            });
    });

</script>

<div class="container">
    {#if stuff}
        <p>{stuff.title} by {stuff.artist}</p>
    {:else}
        <p class="loading">Loading...</p>
    {/if}
</div>

<style>
</style>
